
*{
    margin: 0;
    padding: 0;
}

    /********* HEAD CSS **********/
header{
    display: grid;
    grid-template-columns: 20px 1fr 120px;

    height: 8vh;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 0.3rem;
   /* padding: 0.5rem;*/

    background-color:rgb(122, 73, 73);
}

header i {
    color: #fff;
}
#navDiv{
    padding-left: 25rem;
    padding-top: 0rem;
}

.pnavDiv{
    padding-right: 7rem;
    margin-left: 5rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;

    text-decoration: none;

    border: 1.8px solid #fff;
    padding: 9px;
    border-radius: 50px 50px;
}

#loginDiv{
    color: white;
}

#loginSpan{
    color: yellowgreen;
    font-weight: bold;

}


    /********* Footer CSS **********/
footer{
    color: #ff5a5f;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    height: 1.5rem;
    background-color:rgb(122, 73, 73);
}

footer a{
    
    padding-right: 2rem;
    padding-top: 1rem;
    color: rgb(243, 241, 241);
}

footer p{
    padding-right: 10rem;
    color: rgb(243, 241, 241);
    display: inline-block;
}

footer i {
    color:white;
}

    /**********INDEX PAGE***********/
    #baID{
        padding: 1rem 2rem;
    }

    #baID img{
        width: 13rem;
        height: 6rem;
    }
    #bodySpan{
        background-image: url("../img/main2.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 150vh;
    }

    #loginForm{
       /* display: none;*/
        margin-left: 25rem;
        color: blanchedalmond;
        font-weight: bold;
        font-size: 22px;

        width: 25rem;
        height: 30vh;
        background-color: rgb(62, 76, 88);

        border: 1.8px solid #ff5a5f;
        padding: 15px;
        border-radius: 20px 20px;
    }

    .inputLogin{
        width: 18rem;
        height: 2.5rem;
    }

    #subLogin{
        width: 5rem;
        height: 2.5rem;
        margin-left: 19rem;
    }

    #indexID{
        margin-left: 2rem;
        padding-top: 2rem;
        margin-top : 2rem;
        
        width: 25rem;
        height: 63vh;
        background-color: rgb(221, 188, 185);

        border: 1.8px solid #ff5a5f;
        padding: 9px;
        border-radius: 50px 20px;
    }


    #formIndexP{
        font-size:2rem; 
        color: purple;
        text-align:center;
    }

    .indexLabel{
        font-size: 22px;
        color: purple;
        padding-right: 1rem;
    }

    .input{
        width: 10rem;
        height: 2rem;
    }

    #checkDiv{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #searchButton{
        margin-left: 15rem;
        width: 7rem;
        height: 2rem;
    }

    #bannerID{
        margin-left: 15rem;
    }

    #bannerID img{
        width: 25rem;
    }

    #imgButton{
        width: 10rem;
    }

    #videoID{
        margin-left: 25rem;
    }

    #pDiv{
        background-color: white;
        color: black;
        font-size: 1rem;
        width: 4rem;
    }

    #spanEach{
        color: red;
        font-size: 18px;
    }
    #pVideoDiv{
        background-color: white;
        font-weight: bold;
        width: 5rem;
    }


    /********************ROOM LISTING PAGE ***************/

    #imagesDiv{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;

        background-color: rgb(187, 143, 143);
        height: 85vh;
    }
    
    #imgDiv1{
        grid-column: 1/span 1;
        height: 10rem;
    }

    #imgDiv2{
        grid-column: 2/span 1;
        height: 10rem;
    }

    #imgDiv3{
        grid-column: 3/span 1;
        height: 10rem;
    }

    .imgIMG{
        width: 20rem;
        height: 160px;
    }

    .imgDiv{
        margin: 0rem;
        padding: 0rem;
        margin-left: 4rem;
    }

    
    .imgClass{
        margin-top: 1rem;
    } 
    
    .imgClass h3{
        color: purple;
    }
   
  

        /********************Registration  PAGE ***************/


        #registerDiv{
            margin:0rem;
            padding:0rem;     
            height: 84vh;
        }

        #dummyDiv{
            background-color: rgba(126, 66, 66, 0.637);

            margin-left: 22rem;
            margin-right:15rem;
            margin-top: .5rem;
            margin-bottom: 0rem;

            width: 40rem;

            text-align: center;
        }

        h4{
            padding-top: 1rem;
        }

        h4 a{
            text-decoration: none;
        }

        input{
            margin-bottom: .5rem;
            width: 35rem;
            height: 3rem;
        }

        select{
            width: 10rem;
            height: 3rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        #submitButton{
            margin-top: 0.5rem;
        }

